.section-about {
  width: 40%;
  background-color: #f5f5f5;
  border-radius: 5px;
  margin: 0 auto;
  padding: 10px 10px 10px 10px;
}

.header-about {
  padding-left: 10px;
}

.inputs {
  margin: 10px 10px 10px 10px;
}

.description {
  height: 100px;
}
